<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/assets/style.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Item</title>
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="headeritems">
                <a href="http://localhost:8000/"><img src="/public/assets/logo.png" height="40px"></a>
                <div class="cati">
                    <a href="http://localhost:8000/categories">Categories</a>
                    <a href="http://localhost:8000/items">Items</a>
                </div>
            </div>
        </div>
        <div class="edit">
            <h3>Update Category</h3>
            <form action="http://localhost:8000/categories/edit/<%=identifier%>" class="formblock" method="post">
                <input value='<%=comp.component%>' type="text" name="component" id="" placeholder="Name">
                <input type="text" name="description" id="" placeholder="Quantity" value='<%=comp.description%>' class="editdesc">
                <button type="submit" class="homeb">Update</button>
            </form>
        </div>
    </div class="main">
</body>
</html>